<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Frined</h1>
    <form action="/web/friends/save" method="POST">
    <label for="name">이름</label> 
    <input name="name" id = "name" type="text"><br/>

    <label for="email">이메일</label> 
    <input name="email" id = "email" type="text"><br/>

    <label for="phone">전화번호</label> 
    <input name="phone" id = "phone" type="text"><br/>

    <input type ="submit" value="친구 등록"/>
    </form>
</body>
</html>