<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Friends List</h1>
    <ul>
        <% for(let i = 0; i<friends.length; i++) { %>
          <li>  <%= friends[i].name %>: <%= friends[i].email %> </li>
        <% } %>
    </ul>
    <p>
        <a href="/web/friends/new"> 새 친구 등록</a>
    </p>
</body>
</html>