<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Rendered by EJS</h1>
    <p>본 문서는 node.js의 EJS템플릿 엔진으로 렌더링 됨</p>
     
</body>
</html>